.idea
idea
.DS_Store

/media/articles_files/*
/media/extraction_swap/*
/src/*.log
/udc_rec_sys/fixtures/*

/udc_rec_sys/core/test.py
/users/tests.py
/udc_rec_sys/tests.py

/db.sqlite3

/.env.prod
/docker-compose.prod.yml
/Dockerfile.prod
/entrypoint.prod.sh
