/media/articles_files/
/src/
/udc_rec_sys/core/test.py
/udc_rec_sys/migrations/
/udcrec/prod_settings.py
/users/migrations/
/db.sqlite3
/TODO.txt
/udc_rec_sys/core/service/data/ontology/
/udc_rec_sys/core/service/data/udc_map/
/users/tests.py
/udc_rec_sys/tests.py
/.idea
