.idea
idea
.DS_Store

media/articles_files/*
!*media/articles_files/.gitkeep
media/extraction_swap/*
!*media/extraction_swap/.gitkeep
udc_rec_sys/fixtures/*
!*udc_rec_sys/fixtures/.gitkeep
src/*.log
!*src/.gitkeep

/udc_rec_sys/core/test.py
/users/tests.py
/udc_rec_sys/tests.py

db.sqlite3

.env.prod
.env.prod.db
docker-compose.prod.yml
Dockerfile.prod
entrypoint.prod.sh
